*{

  font-family: "Roboto", sans-serif;

}
.login-from{
width: 80%;

margin: 0 auto;
display: flex;
flex-direction: column;

}
.login-from h3{

text-align: center;
color: blue;
}

form{
 display: flex;  
flex-direction: column;
align-items:center ; 
gap: 10px;
margin-bottom: 10px;
}
input[type='text'], input[type='password']{
padding: 10px;
}



.login-btn{
background-color:royalblue;
color: white;
width: 80PX;
padding: 5PX;
border-radius: 10PX;
border: none;
font-size: 20px;
margin:0 auto;
}
.error{
 color: red; 
 text-align: center;
}
.hidden{
  display: none;
}
